.radiusInverted::before,
.radiusInverted::after{
  content: "";
  position: absolute;
  background-color: transparent;
  height: 15px;
  width: 55px;
  z-index: -1;
}

.radiusInverted::before{
    left: -53px;
    border-top-right-radius: 20px;
    box-shadow: 25px 0px 0 0 #29292C;
}

.radiusInverted::after{   
    left: 110px;
    border-top-left-radius: 20px;
    box-shadow: -25px 0px 0 0 #29292C;
  }
  

